.about-us-section {
	display: grid;
	grid-template-columns: repeat(6, 1fr);	
	grid-gap: 10px;
}

.about-us-section__item-1 {
	grid-column: 1/4;
}

.about-us-section__item-2 {
	display: block;
	grid-column: 4/7;
	background: red;
}

.about-us-section__item-1__title {
	background: #a91b0d;
	color: white;
	font-size: 80px;
	font-weight: 400;
	padding-left: 20px;
}	