
@font-face {
    font-family: 'Futura';
    src: url("../fonts/FuturaStd-Book.otf") format("opentype");
}

body {
	font-family: sans-serif;
	margin: 5px 40px;
}

figure {
	margin: 0;
}

h1,h2,h3 {
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 1.2px;

}

li {
	font-family: 'Futura' sans-serif;
}

/*bebas neue
futura std
*/