.principal-section {
	display: grid;
	grid-template-columns: repeat(6, 1fr);	
	grid-gap: 10px;
}


.principal-section__item-1 {
	background-image: url("../img/estudiante-graduado-smoothtalkers.jpg");
}

@media screen and (min-width: 426px) {
	.principal-section__item-1 {
		grid-column: 1/5;
		background: red;
		background-image: url("../img/estudiante-graduado-smoothtalkers.jpg");
		object-fit: cover;
	}

	.principal-section__item-2 {
		display: block;
		grid-column: 5/7;
	}

}

@media screen and (max-width: 425px) {
	.principal-section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		align-items: end;
		width: 100%;
	}	
}